@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #3A3230f2;
    background-size: cover;
    background-position: center;
}
.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: azure;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
    padding: 30px 40px;
}
.wrapper h1 {
    text-align: center;
    font-size: 36px;
}
.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}
.input-box input {
    width: 100%;
    height: 100%;
    padding: 20px 45px 20px 20px;
    border: none;
    outline: none;
    background: transparent;
    border: 2px solid rgb(240, 255, 255, .2);
    border-radius: 40px;
    color: azure;
    font-size: 16px;
}
.input-box input::placeholder {
    color: azure;
}
.input-box i {
    position: absolute;
    right: 20px;
    top: +20%;
    transform: translateY(+20%);
    font-size: 20px;
}
.wrapper .btn {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: azure;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    cursor: pointer;
}
.wrapper login-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14.5px;
}
.login-link a {
    color: azure;
    text-decoration: none;
    font-weight: 600;
}
.login-link a:hover {
    text-decoration: underline;
    color: aqua;
}